<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<!--
	$Id: web.xml,v 1.5 2002-08-31 13:59:11 o_rossmueller Exp $
	$Source: C:\Users\Orionll\Desktop\junitee-cvs/JUnitEE/example/components/test-war/WEB-INF/web.xml,v $
-->

<web-app>
	<display-name>Einstein Unit Tester Web Application</display-name>

	<servlet>
		<servlet-name>JUnitEETestServlet</servlet-name>
		<description>JUnitEE test harness</description>
		<servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JUnitEETestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
    
 	<ejb-ref>
		<ejb-ref-name>ejb/EinsteinEJB</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>org.infohazard.ejb.einstein.EinsteinHome</home>
		<remote>org.infohazard.ejb.einstein.Einstein</remote>
    <ejb-link>EinsteinEJB</ejb-link>
	</ejb-ref>

</web-app>
