<!--
	$Id: index.html,v 1.1.1.1 2001-07-23 21:31:02 lhoriman Exp $
	$Source: C:\Users\Orionll\Desktop\junitee-cvs/JUnitEE/example/components/web-war/index.html,v $
-->

<html>

	<head>
		<title> Welcome </title>
	</head>
	
	<body>
	
		<p>
			This will allow you to add two numbers together.  The marvels
			of modern technology brought into your very living room.
		</p>

		<hr/>

		<form method="get" action="result.jsp">
			<table border="0">
				<tr>
					<td> First number: </td>
					<td>
						<input type="text" name="first" />
					</td>
				</tr>
				<tr>
					<td> Second number: </td>
					<td>
						<input type="text" name="second" />
					</td>
				</tr>
					<td>
						<input type="submit" value="Add" />
					</td>
				<tr>
				</tr>
			</table>
		</form>

	</body>

</html>
